header {
  background: #fff; }
  header .header #header-image {
    padding: 10px 0;
    margin: 0 auto; }
    header .header #header-image img {
      display: block;
      margin: auto; }
    header .header #header-image .row {
      margin: 0; }
      header .header #header-image .row .social-media-icons-wrapper {
        display: flex;
        padding: 15px 0; }
    header .header #header-image .logo-title {
      font-size: 1rem;
      font-family: "Titillium Web Semibold", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: .25em; }
  header .main-nav {
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #ccc;
    position: relative; }
    header .main-nav ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      text-align: center; }
      header .main-nav ul li {
        margin: 0;
        padding: 0 5px; }
        header .main-nav ul li a {
          font-size: .75rem;
          font-family: "Titillium Web Semibold", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: .05em;
          color: #3f3f3f;
          padding: 7px 0;
          margin: 0;
          display: block;
          border-bottom: 3px solid #ccc;
          -o-transition: .5s;
          -ms-transition: .5s;
          -moz-transition: .5s;
          -webkit-transition: .5s;
          transition: .5s;
          min-width: 200px;
          text-align: center; }
        header .main-nav ul li a:focus, header .main-nav ul li a:hover {
          color: #9F0303;
          border-color: #9F0303; }
      header .main-nav ul .current_page_item a {
        color: #3f3f3f;
        border-color: #9F0303; }

@media (max-width: 767px) {
  header .header .main-pic #header-image .social-media-icons-wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto; }
  header .header .main-nav .container {
    padding: 0; }
  header .header .main-nav ul {
    display: block; }
    header .header .main-nav ul li {
      padding: 0 0; } }
@media (max-width: 905px) {
  header .header .main-nav .container {
    padding: 0; }
  header .header .main-nav ul {
    display: block; }
    header .header .main-nav ul li {
      display: block;
      padding: 0 0; } }
.social-media-icon {
  margin: 0 5px;
  font-size: 1.5rem; }

.display-name {
  color: #fff; }

html, body {
  height: 100%; }

body {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  font-family: "Titillium Web Semibold", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  text-transform: uppercase; }

h1, .h1 {
  font-size: 2rem; }

h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 1.25rem; }

h4, .h4 {
  font-size: 1.1rem; }

main {
  flex: 1 0 auto;
  padding: 25px 15px; }

a {
  color: #3f3f3f; }

a:hover {
  color: #9F0303;
  text-decoration: none; }

.main-pic {
  height: 205px;
  margin: 0;
  background: #fff !important; }
  .main-pic .caption-text {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 4rem;
    vertical-align: middle;
    color: #3f3f3f;
    text-align: center; }

span {
  color: #3f3f3f; }

footer {
  background: #1f1f1f;
  height: 175px; }
  footer .footer-content {
    height: 100%;
    padding: 15px; }
    footer .footer-content .row {
      height: 100%; }
      footer .footer-content .row .col-12 {
        margin: 0; }
        footer .footer-content .row .col-12 .left-section h4 {
          color: #f1f1f1;
          display: inline-block; }
        footer .footer-content .row .col-12 .left-section .social-media-icons a {
          color: #f1f1f1; }
        footer .footer-content .row .col-12 .left-section .social-media-icons a:hover {
          color: #fff; }
        footer .footer-content .row .col-12 .left-section .footer-divider {
          margin: 20px 0; }
        footer .footer-content .row .col-12 .left-section .mailto-link {
          color: #f1f1f1;
          margin: 0 5px; }
        footer .footer-content .row .col-12 .right-section .copyright-text {
          color: #f1f1f1;
          float: right; }

@media (max-width: 768px) {
  footer .row .col-12 .left-section {
    text-align: center; }
  footer .row .col-12 .right-section {
    text-align: center; }
    footer .row .col-12 .right-section .copyright-text {
      float: none !important; } }
.main-menu {
  background: #fff; }
  .main-menu a {
    color: #3f3f3f; }

.container {
  max-width: 85em; }

.wrapped-content {
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07); }

.role-icon-wrapper {
  display: flex; }
  .role-icon-wrapper .role-icon {
    padding-left: 10px;
    font-size: 1.75rem; }

.contact-form-wrapper {
  padding: 15px; }

.twitch-icon {
  color: #4b367c; }

.youtube-icon {
  color: #ff0000; }

.twitter-icon {
  color: #1da1f2; }

.facebook-icon {
  color: #4267b2; }

.nf-form-title {
  display: none; }

.nf-field-element input:not([type="button"]), .nf-field-element textarea, .nf-field-element select {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.nf-field-element input:not([type="button"]):focus, .nf-field-element textarea:focus, .nf-field-element select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

select.ninja-forms-field:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px); }

.nf-error .ninja-forms-field {
  border: 1px solid #e80000 !important; }

.submit-wrap .nf-field-element .ninja-forms-field {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  border: 1px solid transparent;
  background: #ccc;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
.submit-wrap .nf-field-element .ninja-forms-field:not(:disabled):not(.disabled) {
  cursor: pointer; }

.player-item-container {
  margin: 15px; }

.author-name {
  font-size: 1.5rem; }

.news-post-filler {
  height: 50px; }

.news-post-image {
  border-top: 2px solid #9F0303;
  border-bottom: 2px solid #9F0303;
  background-color: #CCC;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  height: 400px; }
  .news-post-image .container .news-post-caption {
    color: #fff;
    letter-spacing: .005em;
    font-weight: 800;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }

.divider {
  border-top: 5px solid #B10303; }

.item-container .news-item-wrapper {
  margin: 15px 0; }
.item-container .news-image {
  background: no-repeat center center;
  background-size: cover;
  background-color: #CCC;
  height: 125px; }
.item-container .news-col {
  padding: 0; }
.item-container .player-col {
  padding: 0; }
.item-container .player-meta-info {
  margin: 0; }
  .item-container .player-meta-info .role-icon-wrapper, .item-container .player-meta-info .meta-title {
    padding: 0;
    display: inline-block; }
.item-container .player-title {
  padding: 10px;
  padding-top: 0;
  margin: 0; }
.item-container .player-name-wrapper {
  padding: 10px;
  padding-top: 0; }
  .item-container .player-name-wrapper .player-name {
    margin: 0; }
.item-container .news-col, .item-container .player-col {
  background: #fff; }
  .item-container .news-col .meta-title, .item-container .player-col .meta-title {
    margin: 0;
    padding: 10px;
    font-size: .7rem;
    display: block;
    position: relative;
    text-decoration: none !important;
    color: #3f3f3f;
    background: #fff; }
  .item-container .news-col .news-meta-row, .item-container .player-col .news-meta-row {
    height: 100%;
    margin: 0; }
    .item-container .news-col .news-meta-row .news-title-wrapper, .item-container .player-col .news-meta-row .news-title-wrapper {
      padding: 10px;
      display: flex;
      margin: 0;
      height: 80%; }
      .item-container .news-col .news-meta-row .news-title-wrapper .news-title, .item-container .player-col .news-meta-row .news-title-wrapper .news-title {
        margin-top: .5rem; }
    .item-container .news-col .news-meta-row .meta-inner, .item-container .player-col .news-meta-row .meta-inner {
      height: 20%; }
      .item-container .news-col .news-meta-row .meta-inner .news-meta-title, .item-container .player-col .news-meta-row .meta-inner .news-meta-title {
        height: 100%;
        padding: 5px;
        color: #fff;
        background: #434343;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
        .item-container .news-col .news-meta-row .meta-inner .news-meta-title .row, .item-container .player-col .news-meta-row .meta-inner .news-meta-title .row {
          box-shadow: none; }
.item-container .row {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
.item-container .player-photo {
  height: 200px;
  margin-bottom: 0; }
  .item-container .player-photo .col-12 {
    background: no-repeat center center;
    background-size: cover;
    background-color: #CCC; }
.item-container .player-info {
  margin-top: 0;
  margin-bottom: 0; }
  .item-container .player-info .flag-icon-wrapper .player-flag-icon {
    margin-right: 10px; }
.item-container .player-social {
  display: none;
  margin-top: 0;
  height: 50px;
  border-top: 2px solid #ccc; }
  .item-container .player-social .player-social-row {
    height: 100%;
    display: flex;
    padding: 10px; }
.item-container .player-social-placeholder {
  display: block;
  height: 50px;
  margin-top: 0;
  margin-bottom: 15px; }
.item-container .hover-trigger:hover + .player-social, .item-container .player-social:hover {
  display: block; }
  .item-container .hover-trigger:hover + .player-social + .player-social-placeholder, .item-container .player-social:hover + .player-social-placeholder {
    display: none; }
.item-container .player-meta-row {
  width: 100%;
  margin: 0; }

@media (max-width: 575px) {
  .news-meta-row .meta-inner {
    height: auto !important; } }
@media (max-width: 575px) {
  .player-social {
    display: block !important; }

  .player-social-placeholder {
    display: none !important; } }
.item-container:hover {
  text-decoration: none; }

/*# sourceMappingURL=custom.css.map */
