body { background-color: #fff; color: #333; background: -moz-linear-gradient(top, rgba(8, 26, 48, 0.5) 0%, #081a30 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(8, 26, 48, 0.5) 0%, #081a30 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(8, 26, 48, 0.5) 0%, #081a30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80081a30', endColorstr='#081a30',GradientType=0 ); /* IE6-9 */ }

#loginform, #lostpasswordform { background-color: #081a30 !important; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#loginform input, #lostpasswordform input { border: none !important; outline: none !important; box-shadow: none !important; border-radius: 0; }
#loginform input[type=text], #loginform input[type=password], #lostpasswordform input[type=text], #lostpasswordform input[type=password] { padding: 5px 10px; color: #555; font-weight: 500; }
#loginform #wp-submit, #lostpasswordform #wp-submit { background-color: #577c99; text-shadow: none; outline: none; box-shadow: none; border: none; -moz-transition-duration: 0.2s; -o-transition-duration: 0.2s; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; font-weight: 500; }
#loginform #wp-submit:hover, #lostpasswordform #wp-submit:hover { background-color: #4a6981; }
#loginform label, #lostpasswordform label { color: white; }

a { color: white !important; -moz-transition-duration: 0.2s; -o-transition-duration: 0.2s; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; font-weight: 500; }

a:hover { color: #ddd !important; }

#backtoblog a, p#nav a { color: white; }

#login_error { background-color: #081a30 !important; margin-bottom: 5px; border-left: 4px solid #dc3232 !important; color: white; }

.message { background-color: #081a30 !important; margin-bottom: 5px; border-left: 4px solid #577c99 !important; color: white; }

.login h1 { background: center center no-repeat url(../images/logo.png); background-size: cover; outline: none !important; border: none !important; width: 180px; height: 180px; margin: 0 auto 20px auto; }

.login h1 a { display: none; }
