// main
$header-bg-color: #fff;
$header-bg-color-gradient: #fff;
$footer-bg-color: #1f1f1f;
$bg-color: #f1f1f1;
$main-border-color: #ccc;

$main-link-color: #3f3f3f;
$main-link-hover-color: #000;
$border-link-color: #3f3f3f;

// fonts
$main-font-color: #3f3f3f;
$footer-font-color: #f1f1f1;
$footer-font-hover-color: #fff;

// buttons 
$default-button-color: #ccc;