// main

$main-theme-color: #9F0303;
$secondary-theme-color: #B10303;

$header-bg-color: #fff;
$header-bg-color-gradient: #fff;
$footer-bg-color: #1f1f1f;
$bg-color: #f1f1f1;
$main-border-color: #ccc;
$meta-bg-color: #434343;
$wrapped-bg-color: #fff;
$main-link-color: #3f3f3f;
$main-link-hover-color: $main-theme-color;
$border-link-color: $main-theme-color;

// fonts
$main-font-color: #3f3f3f;
$footer-font-color: #f1f1f1;
$footer-font-hover-color: #fff;
$meta-title-font-color: #fff;
$caption-font-color: #fff;

// buttons 
$default-button-color: #ccc;

$placeholder-bg-color: #CCC;

$divider-color: $secondary-theme-color;

// icons

$twitch-icon-color: #4b367c;
$youtube-icon-color: #ff0000;
$facebook-icon-color: #4267b2;
$twitter-icon-color: #1da1f2;