// // main
// $header-bg-color: rgba(2,9,23,.95);
// $header-bg-color-gradient: linear-gradient(#020917, #13171e);
// $footer-bg-color: rgba(2,9,23,.95);
// $bg-color: #171c25;
// $main-border-color: #3f4a5e;

// $main-link-color: #f1f1f1;
// $border-link-color: #ccc;

// // fonts
// $main-font-color: #fff;
// $footer-font-color: #fff;

// main
$header-bg-color: #fff;
$header-bg-color-gradient: #fff;
$footer-bg-color: #1f1f1f;
$bg-color: #f1f1f1;
$main-border-color: #ccc;

$main-link-color: #3f3f3f;
$main-link-hover-color: #000;
$border-link-color: #3f3f3f;

// fonts
$main-font-color: #3f3f3f;
$footer-font-color: #f1f1f1;
$footer-font-hover-color: #fff;