@import '_variables.scss';
@import '_mixins.scss';
header {
    background: $header-bg-color;
    .header {
        #header-image {
            padding: 10px 0;
            margin: 0 auto;
            img {
                display: block;
                margin: auto;
            }
            .row {
                margin: 0;
                .social-media-icons-wrapper {
                    display: flex;
                    padding: 15px 0;
                }
            }
        }
    }
    .main-nav {
        box-shadow: 0 10px 10px -6px rgba(0, 0, 0, .2);
        border-top: 2px solid $main-border-color;
        position: relative;
        ul {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            text-align: center;
            li {
                margin: 0;
                padding: 0 5px;
                a {
                    font-size: .75rem;
                    font-family: "Titillium Web Semibold", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: .05em;
                    color: $main-font-color;
                    padding: 7px 0;
                    margin: 0;
                    display: block;
                    border-bottom: 3px solid $main-border-color;
                    -o-transition: .5s;
                    -ms-transition: .5s;
                    -moz-transition: .5s;
                    -webkit-transition: .5s;
                    transition: .5s;
                    min-width: 200px;
                    text-align: center;
                }
                a:focus, a:hover {
                    color: $main-link-hover-color;
                    border-color: $main-link-hover-color;
                }
            }
            .current_page_item {
                a {
                    color: $main-link-color;
                    border-color: $border-link-color;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        .header {
            .main-pic {
                #header-image {
                    .social-media-icons-wrapper {
                        margin-left: auto !important;
                        margin-right: auto !important;
                        width: auto;
                    }
                }
            }
            .main-nav {
                .container {
                    padding: 0;
                }
                ul {
                    display: block;
                    li {
                        // width: 100%;
                        padding: 0 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 905px) {
    header {
        .header {
            .main-nav {
                .container {
                    padding: 0;
                }
                ul {
                    display: block;
                    li {
                        display: block;
                        padding: 0 0;
                    }
                }
            }
        }
    }
}

.social-media-icon {
    margin: 0 5px;
    font-size: 1.5rem;
}

.display-name {
    color: #fff;
}

html, body {
    height: 100%;
}

body {
    background: $bg-color;
    display: flex;
    flex-direction: column;
    font-family: "Titillium Web Semibold", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif; // font-weight: 300;
}

main {
    flex: 1 0 auto;
    padding: 25px 15px;
}

a {
    color: $main-link-color;
}

a:hover {
    color: $main-link-hover-color;
}

.main-pic {
    height: 220px;
    margin: 0;
    background: $header-bg-color-gradient !important;
    .caption-text {
        //font-family: "Titillium Web Semibold", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 4rem; // display: table-cell;
        vertical-align: middle;
        color: $main-font-color;
        text-align: center;
    }
}

span {
    color: $main-font-color;
}

footer {
    background: $footer-bg-color;
    height: 200px;
    .footer-content {
        height: 100%;
        padding: 15px;
        .row {
            height: 100%;
            .col-12 {
                margin: 0;
                .left-section {
                    h4 {
                        color: $footer-font-color;
                        display: inline-block;
                    }
                    .social-media-icons {
                        a {
                            color: $footer-font-color;
                        }
                        a:hover {
                            color: $footer-font-hover-color;
                        }
                    }
                }
                .right-section {
                    .copyright-text {
                        color: $footer-font-color;
                        float: right;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        .row {
            .col-12 {
                .left-section {
                    text-align: center;
                }
                .right-section {
                    .copyright-text {
                        float: none !important;
                    }
                    text-align: center;
                }
            }
        }
    }
}

.main-menu {
    background: $header-bg-color;
    a {
        color: $main-font-color;
    }
}

.container {
    max-width: 85em;
}

.wrapped-content {
    background: $wrapped-bg-color;
    box-shadow: 0 0 15px rgba(0, 0, 0, .07);
}

.role-icon-wrapper {
    display: flex;
    .role-icon {
        padding-right: 10px;
        font-size: 1.75rem;
    }
}

.contact-form-wrapper {
    padding: 15px;
}

.twitch-icon {
    color: $twitch-icon-color;
}

.youtube-icon {
    color: $youtube-icon-color;
}

.twitter-icon {
    color: $twitter-icon-color;
}

.facebook-icon {
    color: $facebook-icon-color;
}

.nf-field-element input:not([type="button"]), .nf-field-element textarea, .nf-field-element select {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nf-field-element input:not([type="button"]):focus, .nf-field-element textarea:focus, .nf-field-element select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

select.ninja-forms-field:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.nf-error .ninja-forms-field {
    border: 1px solid #e80000 !important;
}

.submit-wrap {
    .nf-field-element {
        // submit-button
        .ninja-forms-field {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            user-select: none;
            border: 1px solid transparent;
            background: $default-button-color;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        .ninja-forms-field:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
    }
}

.player-item-container {
    margin: 15px;
}

.author-name {
    font-size: 1.5rem;
}

.news-post-image {
    background-color: $placeholder-bg-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    .container {
        .news-post-caption {
            color: $caption-font-color;
            letter-spacing: .005em;
            font-weight: 800;
            text-shadow: 0 0 15px rgba(0, 0, 0, .4);
        }
    }
}

.divider {
    border-top: 5px solid $divider-color;
}

.item-container {
    .news-item-wrapper {
        margin: 15px 0;
    }
    .news-image {
        background: no-repeat center center;
        background-size: cover;
        background-color: $placeholder-bg-color;
        height: 125px;
    }
    .news-col {
        padding: 0;
    }
    .player-col {
        padding: 0;
    }
    .player-title {
        padding: 10px;
        padding-top: 0;
        margin: 0;
    }
    .player-name-wrapper {
        padding: 10px;
        padding-top: 0;
        .player-name {
            margin: 0;
        }
    }
    .news-col, .player-col {
        background: $header-bg-color;
        .meta-title {
            margin: 0;
            padding: 10px;
            font-size: .8rem; //font-family: "Titillium Web Semibold", "Open Sans Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
            display: block;
            position: relative;
            text-decoration: none !important;
            color: $main-font-color;
            background: $header-bg-color;
        }
        .news-meta-row {
            margin: 0;
            .news-meta-title {
                padding: 5px;
                color: $meta-title-font-color;
                background: $meta-bg-color;
            }
        }
        .news-title-wrapper {
            padding: 10px;
            display: flex;
        }
    }
    .row {
        box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    } // .row:not(.exception-row) {
    //     margin: 15px 0;
    // }
    .player-photo {
        height: 200px;
        margin-bottom: 0;
        .col-12 {
            background: no-repeat center center;
            background-size: cover;
            background-color: $placeholder-bg-color;
        }
    }
    .player-info {
        margin-top: 0;
        margin-bottom: 0;
    }
    .player-social {
        display: none;
        margin-top: 0;
        height: 50px;
        border-top: 2px solid $main-border-color;
        .player-social-row {
            height: 100%;
            display: flex;
            padding: 10px;
        }
    }
    .player-social-placeholder {
        display: block;
        height: 50px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .hover-trigger:hover+.player-social, .player-social:hover {
        display: block;
        +.player-social-placeholder {
            display: none;
        }
    }
    .player-meta-row {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 576px) {
    .player-social {
        display: block !important;
    }
    .player-social-placeholder {
        display: none !important;
    }
}

.item-container:hover {
    text-decoration: none;
}